@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --btnColor: #d85a11;
    --btnColorHover: #ff9757;
    --offWhite: #fffcfa;
    --textColor: rgb(0, 0, 0);
}

body {
    margin: 0px;
    background-color: var(--offWhite);
}

h1 {
    font-size: 50px;
    font-family: 'Verdana';
    margin-block: 4px;
}

h2, h3 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--textColor);
    text-align: left;
}

.page-text p {
    font-size: 14px;
    text-align: left;
    font-family: 'Verdana';
    color: var(--textColor);
}

.page-text {
    left: 20%;
    width: 60%;
    position: absolute;
    background-color: var(--offWhite);
}

.title_text {
    position: relative;
    top: 25%;
    left: 60%;
    width: 30%;
    max-width: 400px;
    min-width: 350px;
    color: white;
    text-align: left;
    font-family: 'Verdana';
    margin-bottom: 0px;
}

.lesson-title-box {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

.lesson-title {
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    color: white;
}

.title_text p {
    margin-top: 0px;
    font-size: 14px;
    margin-block-end: 14px;
}

.intro_btns {
    display: inline-block;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 2px 0 2px;
}

li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar {
    transition: 0.5s;
    padding: 30px 10px;
}

.logo {
    cursor: pointer;
}

.cover {
    background-color: var(--offWhite);
    font-size: 36px;
    text-align: center;
}

.pre-footer {
    height: 200px;
    background-color: var(--offWhite);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #19cc31
}

.main_btn {
    padding: 9px 25px;
    background-color: var(--btnColor);
    border: 2px solid var(--btnColor);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.secondary_btn {
    padding: 9px 25px;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid var(--offWhite);
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: var(--btnColorHover);
    border-color: var(--btnColorHover);
}

.splash-image {
    /* Set the height */
    height: 70vh;
    /* Create a parallax effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-image {
    background-image: url("./img/dark_guitar.jpg");
    height: 70vh;
}

.notes-image {
    background-image: url("./img/nord_keys.jpg");
}

.lesson-image {
    height: 30vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}